AUTH_SECRET="insecure-secret"
NEXT_PUBLIC_BASE_API_URL="http://localhost:8000/api"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BHcR0nvjklQlqelQPQvYDJyG5Oe7h2CqQ2eFXY-qxC6ere1MAV473pMlAZ01B4b60fnyl_yEnru1BuCLR5dI5Lw"
VAPID_PUBLIC_KEY="BHcR0nvjklQlqelQPQvYDJyG5Oe7h2CqQ2eFXY-qxC6ere1MAV473pMlAZ01B4b60fnyl_yEnru1BuCLR5dI5Lw"
VAPID_PRIVATE_KEY="t-En1ZxYpJI1PphPynON8mH6QFHyXy532oUnHR6HpLA"
