# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
.venv
venv
.vscode
TushirikianeVenv/


# Next.js
node_modules/
.next/
out/
.env.test.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# pytest
.cache/
*.cover
*.py,cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log

# ide
.idea/
.vscode/
